



/*Шапка*/

header {
  background-color: var(--header-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo--black {
  color: #000000;
}

.logo--white {
  color: #ffffff;
}

/*Навигация*/

.navigation__list {
  display: flex;
  align-items: center;
}

.navigation__item {
  margin-right: 50px;
}

.navigation__item:last-child {
  margin-right: 0;
}


.navigation__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  color: var(--text-cl);
}

.navigation__link--activ {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  color: var(--accent-cl);
}

.navigation__link--activ::after {
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

/*Контакты*/

.contakts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contakts__item {
  margin-right: 50px;
}

.contakts__item:last-child {
  margin-right: 0;
}


.contakts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
    padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link:hover {
  color: var(--accent-cl);
}

.contakts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Герой*/

.hero-group {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}



/* Modal form*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  width: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  padding: 40px;
}



.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__group {
  text-align: left;
  position: relative;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.modal-form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__input {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__input:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form__icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  fill: rgb(10, 10, 9);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: #2196f3;
}

.modal-form__comment {
  width: 100%;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__comment:focus {
  border-color: #2196f3;
  outline: none;
}

.modal-form__policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form__policy-desc {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.modal-form__custom-checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.modal-form__checkbox:focus + .modal-form__custom-checkbox {
  border-color: #2196f3;
}

.modal-form__custom-checkbox-icon {
  fill: #ffffff;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked + .modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
  opacity: 1;
}




/*Преимущества*/

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__title.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.benefits {
  display: flex;
}

.benefits__item {
  width: 270px;
  margin-right: 30px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}



.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-cl);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/*Деятельность*/

.work {
  padding-bottom: 94px;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.work {
  display: flex;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.work__item > .work__name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 5;
}

/*Команда*/

.personal {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.personal__list {
  display: flex;
}

.personal__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-cl);
  }

.personal__item {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal__item:last-child {
  margin-right: 0;
}

.personal__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.personal__direction {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/*Иконки соцсетей команды*/

/*Клиенты*/

.clients {
  padding-top: 94px;
  padding-bottom: 116px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: #2196f3;
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: #2196f3;
}

/*Контент портфолио*/

/*Фильтра*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-filter__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}

.portfolio-filter__item {
  margin-right: 8px;
}

.portfolio-filter__item:last-child {
  margin-right: 0;
}


/*Страницы*/

.page-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-page__item {
  width: 370px;
  margin-right: 30px;
}

.portfolio-page__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page__link:hover,
.portfolio-page__link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-page__link:hover .portfolio-page__overlay {
  transform: translatey(0);
}

.portfolio-page__item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.portfolio-page__item:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-page__title {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.portfolio-page__name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-cl);
}

.portfolio-page__filter {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.portfolio-page__img {
  position: relative;
  overflow: hidden;
}

.portfolio-page__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(+101%);
  transition: transform 250ms ease;
}

.portfolio-page__overlay > p {
  padding: 56px 24px 70px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}


/*Подвал*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.contacts {
  margin-right: 70px;
}

.contacts-info {
  margin-top: 20px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contacts-info__location {
  margin-bottom: 9px;
  color: var(--secondary-txt-cl);
}

.contacts-info__item {
  margin-bottom: 9px;
}

.contacts-info__item:last-child {
  margin-bottom: 0;
}

.contacts-info__mail {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-info__mail:hover {
  color: var(--accent-cl);
}

.contacts-info__phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-info__phone:hover {
  color: var(--accent-cl);
}

.connection {
  display: block;
  margin-right: 100px;
}

.connection__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*personal__socials icons*/


.subscription {
  display: block;
  margin-right: 0;
}

.subscription__name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscription__label {
  display: flex;
}

.subscription__form {
  width: 360px;
  padding: 16px 15px;
  margin-right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

