:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* text colors */
  --text-cl: #212121;
  --accent-cl: #2196f3;
  --main-txt-cl: #757575;
  --secondary-txt-cl: #ffffff;

  /* bacground colors */
  --header-bg-cl: #ffffff;
  --main-bg-cl: #e5e5e5;
  --secondary-bg-cl: #f7f7f7;
  --dark-bg-cl: #2f303a;
  --btn-bg-cl: #2196f3;
  --btn-bg-accent: #188ce8;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-txt-cl);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link:hover,
.link:focus {
  color: var(--accent-cl);
}

.link {
  text-decoration: none;
  color: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

/*Шапка*/

header {
  background-color: var(--header-bg-cl);
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

/*Логотип*/
.logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo__black {
  color: #000000;
}

/*Навигация*/

.nav__list {
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}


.nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  color: var(--text-cl);
}

.nav__activ {
  position: relative;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  color: var(--accent-cl);
}

.nav__activ::after {
  bottom: 0;
  left: 0;
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;

  background-color: #2196f3;
  border-radius: 2px;
}

/*Контакты*/

.contakts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.contakts__item {
  margin-right: 50px;
}

.contakts__item:last-child {
  margin-right: 0;
}


.contakts__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
    padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  color: var(--main-txt-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__link:hover {
  color: var(--accent-cl);
}

.contakts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*Герой*/

.hero-group {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/fon/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt-cl);
}

.btn {
  padding: 10px 32px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-txt-cl);
  background: var(--btn-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--btn-bg-accent);
}

/* Modal form*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-wrapper {
  position: absolute;
  width: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 10;
  padding: 40px;
}

.modal-btn {
  padding: 4px;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btn:hover > .modal-btn__close,
.modal-btn:focus > .modal-btn__close {
  fill: #2196f3;
}

.modal-btn__close {
  fill: #000000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-group {
  text-align: left;
  position: relative;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  width: 100%;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 12px 12px 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  fill: rgb(10, 10, 9);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-comment {
  width: 100%;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.form-comment:focus {
  border-color: #2196f3;
  outline: none;
}

.form-policy-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.form-policy-desc {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.policy-desc-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.custom-checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  border: 2px solid #212121;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox {
  background-color: #2196f3;
  border-color: #2196f3;
}

.checkbox:focus + .custom-checkbox {
  border-color: #2196f3;
}

.custom-checkbox-icon {
  fill: #ffffff;
  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .custom-checkbox .custom-checkbox-icon {
  opacity: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.submit-btn {
  padding: 10px 56px;
}

/*Преимущества*/

.benefits {
  padding-top: 94px;
  padding-bottom: 94px;
}

.benefits__title {
  display: none;
}

.benefits {
  display: flex;
}

.benefits__item {
  width: 270px;
  margin-right: 30px;
}

.benefits__item:last-child {
  margin-right: 0;
}

.benefits__box {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.benefits__icon {
}



.benefits__subtitle {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-cl);
}

.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/*Деятельность*/

.work {
  padding-bottom: 94px;
}

.work__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.work {
  display: flex;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0;
}

.work__item > .work__name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 5;
}

/*Команда*/

.personal {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.personal__list {
  display: flex;
}

.personal__title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-cl);
  }

.personal__item {
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.personal__item:last-child {
  margin-right: 0;
}

.personal__info {
  padding-top: 30px;
  padding-bottom: 30px;
}

.personal__name {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.personal__direction {
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

/*personal__socials icons*/
.personal__socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.personal__socials-link:hover .personal__socials-icon,
.personal__socials-link:focus .personal__socials-icon {
  fill: #ffffff;
}

.personal__socials-link:hover,
.personal__socials-link:focus {
  background-color: #2196f3;
}

.personal__socials-item:not(:last-child) {
  margin-right: 10px;
}

.personal__socials-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Контент портфолио*/

/*Фильтра*/

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 50px;
  padding: 0;
}

.filter-item {
  margin-right: 8px;
}

.filter-item:last-child {
  margin-right: 0;
}

.filter-btn {
  padding: 6px 22px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-cl);
  background: #f5f4fa;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--secondary-txt-cl);
  background: var(--btn-bg-cl);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  cursor: pointer;
}

/*Страницы*/

.page-list {
  display: flex;
  flex-wrap: wrap;
}

.page-item {
  width: 370px;
  margin-right: 30px;
}

.page-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-link:hover,
.page-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.page-link:hover .page-overlay {
  transform: translatey(0);
}

.page-item:nth-child(-n + 6) {
  margin-bottom: 30px;
}

.page-item:nth-child(3n + 3) {
  margin-right: 0;
}

.page-name {
  padding: 20px 24px;
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.page {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-cl);
}

.filter-page {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.page-img {
  position: relative;
  overflow: hidden;
}

.page-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(+101%);
  transition: transform 250ms ease;
}

.page-overlay > p {
  padding: 56px 24px 70px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

/*Клиенты*/

.clients {
  padding-top: 94px;
  padding-bottom: 116px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--text-cl);
}

.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover,
.clients__link:focus {
  border-color: #2196f3;
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: #2196f3;
}

/*Подвал*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-cl);
}

.foot-cont {
  display: flex;
  align-items: baseline;
}

.footer-cont {
  margin-right: 70px;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-white {
  color: #ffffff;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.location {
  margin-bottom: 9px;
  color: var(--secondary-txt-cl);
}

.address-item {
  margin-bottom: 9px;
}

.address-item:last-child {
  margin-bottom: 0;
}

.email,
.phone {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email:hover,
.phone:hover {
  color: var(--accent-cl);
}

.connect {
  display: block;
  margin-right: 100px;
}

.connect-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

/*personal__socials icons*/
.connect-list {
  display: flex;
  align-items: center;
}

.connect-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect-link:hover,
.connect-link:focus {
  background-color: #2196f3;
}

.connect-item:not(:last-child) {
  margin-right: 10px;
}

.connect-icon {
  fill: #ffffff;
}

.subscribe {
  display: block;
  margin-right: 0;
}

.subscribe-name {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.form-subscribe-label {
  display: flex;
}

.form-subscribe {
  width: 360px;
  padding: 16px 15px;
  margin-right: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;

  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.subscribe-btn {
  display: flex;
  padding: 10px 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.subscribe-icon {
  align-content: center;
  justify-content: center;
  margin-left: 10px;
  fill: #ffffff;
}
